#Graph {
    align-items: center;
    background-color: #282c34;
    display: flex;
    justify-content: center;
}

.label {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
    color: #FFFFFF;
    font-size: 0.95em; /* node label fontsize */
    letter-spacing: 0.035em;
    opacity: 0.8;
    text-transform: lowercase;
}

#title {
  color: #333;
  font-family: monospace;
  font-size: 1.45em;
  font-weight: 600;
  left: 3em;
  letter-spacing: -0.035em;
  position: absolute;
  top: 3.5em;
}

#status {
  color: #333;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: 400;
  left: 3em;
  letter-spacing: 0.015em;
  position: absolute;
  top: 6.5em;
}