.App {
  align-items: center;
  background-color: #282c34;
  display: flex;
  max-height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 100vw;
  color: white;
}

.App-link {
  color: #61dafb;
}